---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
  {% assign post_url = post.url | append: '/' | replace: '//', '/' | prepend: site.baseurl | prepend: site.url | %}
  <article class="post">

    {% if post.banner_image %}
    <div class="banner-image">
      <a href="{{ post_url }}"
        title="{{ post.title }}">
      <img 
          src="{{ "/assets/images/" | append: post.banner_image | prepend: site.baseurl | prepend: site.url }}" 
          alt="{% if post.banner_image_alt %}{{ post.banner_image_alt }}{% else %}{{ post.title }} {% endif %}">
      </a>
    </div>
    {% endif %}

    <h1 class="post-title">
      <a href="{{ post.url | append: '/' | replace: '//', '/' | prepend: site.baseurl | prepend: site.url |  }}">
        {{ post.title }}
      </a>
    </h1>

    <p class="post-meta">
    {% if (post.categories.size > 0 %}
      <span class="categories">
      {{ post.categories | array_to_sentence_string }}
      </span> |
    {% endif %}
    <span class="post-date">
      <!-- Whitespace added for readability -->
      {% assign m = post.date | date: "%-m" %}
      {{ post.date | date: "%-d" }} de 
      {% case m %}
        {% when '1' %}Enero
        {% when '2' %}Febrero
        {% when '3' %}Marzo
        {% when '4' %}Abril
        {% when '5' %}Mayo
        {% when '6' %}Junio
        {% when '7' %}Julio
        {% when '8' %}Agosto
        {% when '9' %}Septiembre
        {% when '10' %}Octubre
        {% when '11' %}Noviembre
        {% when '12' %}Diciembre
      {% endcase %} de 
      {{ post.date | date: "%Y" }}
      {% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}  
    </span>
    </p>

    {{ post.excerpt }}
    <a href="{{ post.url | append: '/' | replace: '//', '/' | prepend: site.baseurl | prepend: site.url |  }}">
      Leer m&aacute;s »
    </a>
  </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  
  {% if paginator.next_page %}
      <a class="pagination-item older btn" href="{{ paginator.next_page_path | prepend: site.baseurl | append: '/' | replace: '//', '/' }}">M&aacute;s viejos</a>    
  {% else %}
    <span class="pagination-item older btn-disabled">M&aacute;s viejos</span>
  {% endif %}
  
  {% if paginator.previous_page %}
    <a class="pagination-item newer btn " href="{{ paginator.previous_page_path | prepend: site.baseurl | append: '/' | replace: '//', '/' }}">M&aacute;s nuevos</a>
  {% else %}
    <span class="pagination-item newer btn-disabled">M&aacute;s nuevos</span>
  {% endif %}  
  
</div>
{% endif %}

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "{{ '' | prepend: site.baseurl | prepend: site.url | append: '/' }}"
    }
}
</script>
