---
layout: default
---

<div class="posts">
  <h1> En construcción... </h1>
  {% for item in site.portfolio reversed %}
  {% if item.show %}
  {% assign item_url = item.url | append: '/' | replace: '//', '/' | prepend: site.baseurl | prepend: site.url | %}
  <article class="post">

    {% if item.banner_image %}
    <div class="banner-image">
      <a href="{{ item_url }}"
        title="{{ item.title }}">
      <img 
          src="{{ "/assets/images/" | append: item.banner_image | prepend: site.baseurl | prepend: site.url }}" 
          alt="{% if item.banner_image_alt %}{{ item.banner_image_alt }}{% else %}{{ item.title }} {% endif %}">
      </a>
    </div>
    {% endif %}

    <h1 class="post-title">
      <a href="{{ item.url | append: '/' | replace: '//', '/' | prepend: site.baseurl | prepend: site.url |  }}">
        {{ item.title }}
      </a>
    </h1>
  </article>
  {% endif %}
  {% endfor %}
</div>

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "{{ '' | prepend: site.baseurl | prepend: site.url | append: '/' }}"
    }
}
</script>