---
layout: default
---
{% include category/title.html %}
    <ul>
        {% assign empty_category = true %}
        {% for post in site.posts %}
            {% if post.categories contains page.category %}
                <h5><li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}
                    <small>{% assign m = post.date | date: "%-m" %}
                    {{ post.date | date: "%-d" }} de 
                    {% case m %}
                      {% when '1' %}Enero
                      {% when '2' %}Febrero
                      {% when '3' %}Marzo
                      {% when '4' %}Abril
                      {% when '5' %}Mayo
                      {% when '6' %}Junio
                      {% when '7' %}Julio
                      {% when '8' %}Agosto
                      {% when '9' %}Septiembre
                      {% when '10' %}Octubre
                      {% when '11' %}Noviembre
                      {% when '12' %}Diciembre
                    {% endcase %} de 
                    {{ post.date | date: "%Y" }}
                    </small></a>
                </li></h5>
                {% assign empty_category = false %}
            {% endif %}
        {% endfor %}
        {% if empty_category %}
            <li class="empty-post-list">
                It seems that there are no articles on that category,
                please go back <a href="/">home</a> to see the full list of articles.
            </li>
        {% endif %}
    </ul>
</div>